# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
docker-compose.override.yml
docker-compose.override.yaml
*.dockerfile
*.dockerignore

# Virtual Environment
venv/
ENV/

# Ignore local development files
.devcontainer/
.vscode/