# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

# Docker
docker-compose.override.yml
docker-compose.override.yaml
*.dockerfile
*.dockerignore

# Virtual Environment
venv/
ENV/

# Ignore local development files
.devcontainer/
.vscode/